<div class="row justify-content-center mt-4">
  <div class="col col-sm-8 col-md-6 col-lg-4">
    <div class="intro-register-img mb-4">
      <img src="../images/Screenshot 2022-08-27 at 12.18.45.png" width="100" class="mx-auto d-block" alt="intro" >
    </div>
    <form action="/register" method="post">
      <div class="input-group mb-2">
        <input
          type="text"
          name="name"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.name}}is-invalid{{/if}}"
          placeholder="Nombre"
          aria-label="User name"
          value="{{ user.name }}"
        >
        {{#if errors.name}}<div class="invalid-feedback">{{ errors.name }}</div>{{/if}}
      </div>

      <div class="input-group mb-2">
        <input
          type="text"
          name="lastName"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.lastName}}is-invalid{{/if}}"
          placeholder="Apellido"
          aria-label="User last name"
          value="{{ user.lastName }}"
        >
        {{#if errors.lastName}}<div class="invalid-feedback">{{ errors.lastName }}</div>{{/if}}
      </div>

      <div class="input-group mb-2">
        <input
          type="text"
          name="email"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.email}}is-invalid{{/if}}"
          placeholder="usuario@ejemplo.com"
          aria-label="User email"
          value="{{ user.email }}"
        >
        {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
      </div>

      <div class="input-group mb-3">
        <input
          id="password-input"
          type="password"
          name="password"
          class="custom-form-control form-control py-2 ps-4 {{#if errors.password}}is-invalid{{/if}}"
          placeholder="Contraseña"
          aria-label="User password"
        >
        <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
          <i id="password-icon" class="fa fa-eye-slash fa-fw"></i>
        </button>
        {{#if errors.password}}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
      </div>

      <div class="form-check">
         <input class="form-check-input" type="radio" name="isCompany" id="isCompany1" value="false" checked>
         <label class="form-check-label" for="isCompany1"> Soy candidato </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="isCompany" id="isCompany2" value="true">
        <label class="form-check-label" for="isCompany2"> Soy empresa </label>
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary bg-light-green border-0">Registrarse</button>
        <div class="d-grid gap-2 mt-2">
          <a href="/login/google" class="btn btn-danger border-0">
            <i class="fa fa-google"></i>
            Registrarse con Google
          </a>
        </div>
      </div>
    </form>
  </div>
</div>