{{> navbar }}
<main>
  <div class="btn-group float-end">
    <button type="button" class="btn btn-gray" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/logout">Cerrar Sesi贸n</a></li>
    </ul>
  </div>
  <h1>
    <div class="col text-center mt-2">
      <img src={{currentUser.image}} class="rounded-circle border border-3 m-4" width="100" alt={{currentUser.name}}
        referrerpolicy="no-referrer">
      <h2>Hola <b>{{currentUser.name}}</b>,</h2>
      <h2>隆bienvenido a t煤 perfil!</h2>
  </h1>
  &nbsp;
  <h3><b>Mi Perfil </b></h3>
  &nbsp;

  <div class="container">
    <div class="row">
      <div class="col text-start">
        <a class="btn btn-light border rounded-pill" href="/user/education" role="button"><b>Ver mi educaci贸n</b></a>
      </div>
      <div class="col text-end">
        <a class="btn btn-light border rounded-pill" href="/user/experience" role="button"><b>Ver mi experiencia</b></a>
      </div>
    </div>
  </div>

  &nbsp;

  <div class="card" id="complete-card" style="display: block">
    <div class="card-body">
      <h5 class="card-title"><b>Datos Personales</b></h5>
      <ul class="list-group list-group-flush text-left">
        <li class="list-group-item"><b>Nombre:</b> {{ user.name }}</li>
        <li class="list-group-item"><b>Apellidos:</b> {{ user.lastName }}</li>
        <li class="list-group-item"><b>Direcci贸n:</b> {{ userComplete.address }}</li>
        <li class="list-group-item"><b>Ciudad:</b> {{ userComplete.city }} </li>
        <li class="list-group-item"><b>CP:</b> {{ userComplete.zipCode }}</li>
        <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
        <li class="list-group-item"><b>N煤mero de tel茅fono:</b> {{ userComplete.phoneNumber }} </li>
      </ul>
    </div>
    <div class="card-footer text-end" onclick="showDiv(); noShowDiv()">
      <button class="btn btn-secondary bi bi-pencil">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
          viewBox="0 0 18 18">
          <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
        </svg>
      </button>
    </div>
  </div>

  &nbsp;

  <div class="card" id="card-form" style="display: none">
    <div class="card-body">
      <form method="POST" action="/user/profile">
        <div class="form-row">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputName"><b>Nombre</b></label>
              <input type="text" class="form-control" id="inputName" placeholder="Nombre" value="{{ user.name }}">
            </div>
            <div class="form-group col-md-6">
              <label for="inputlastName"><b>Apellidos</b></label>
              <input type="text" class="form-control" id="inputlastName" placeholder="Apellidos"
                value="{{ user.lastName }}">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="address"><b>Direcci贸n</b></label>
              <input type="text" class="form-control" name="address" id="address">
            </div>
            <div class="form-group col-md-3">
              <label for="city"><b>Ciudad</b></label>
              <input type="text" class="form-control" name="city" id="city">
            </div>
            <div class="form-group col-md-3">
              <label for="zipCode"><b>CP</b></label>
              <input type="text" class="form-control" name="zipCode" id="zipCode">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="email"><b>Email</b></label>
              <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="form-group col-md-6">
              <label for="phoneNumber"><b>N煤mero de tel茅fono</b></label>
              <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="legalId"><b>DNI, NIE, Pasaporte o Permiso de Trabajo</b></label>
              <input type="text" class="form-control" id="legalId" name="legalId" required>
            </div>
            &nbsp;
            <div class="form-group col-md-6 text-center">
              <div class="form-group col-md-6">
                <label for="idPhoto" class="btn btn-danger">Adjuntar foto del documento</label>
                <input type="file" class="form-control" style="display:none" name="idPhoto" id="idPhoto">
              </div>
            </div>
          </div>
          &nbsp;
          <div class="form-row">
            <div class="row">
              <div class="form-check col-md-3">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="workPermit" value="true">
                <label class="form-check-label" for="gridCheck">
                  Tengo permiso de trabajo
                </label>
              </div>
              <div class="form-check col-md-4">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="europeanNationality" value="true">
                <label class="form-check-label" for="gridCheck">
                  Tengo documentos de la Comunidad Europea
                </label>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="card-footer text-center">
      <button type="submit" class="btn btn-primary">Guardar y continuar</button>
    </div>
  </div>

</main>

<script>
  function showDiv() {
    document.getElementById("card-form").style.display = "block";
  }
  function noShowDiv() {
    document.getElementById("complete-card").style.display = "none";
  }
</script>