{{> navbar }}
<main>
  <h1>
    <div class="col text-center mt-2">
      <img src={{user.image}} class="rounded-circle border border-3 m-4" width="100" alt={{user.name}}
        referrerpolicy="no-referrer">
      <h2> <b>{{user.name}}</b></h2>
      <h2>{{user.lastName}}</h2>
  </h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Datos Personales</h5>
      <ul class="list-group list-group-flush text-left">
        <li class="list-group-item"><b>Nombre:</b> {{ user.name }} </li>
        <li class="list-group-item"><b>Apellidos:</b> {{ user.lastName }} </li>
        <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
        <li class="list-group-item"><b>Movil: </b>{{ userComplete.phoneNumber }}</li>
      </ul>
    </div>
  </div>
  <div class="mt-5">
    <h5><b>Estudios</b></h5>
  </div>
  {{#each educations as |education| }}
  <div class="card mb-4">
    <div class="card-body">
      <ul class="list-group list-group-flush text-left">
        <li class="list-group-item"><b>Nombre de la instituci贸n:</b> {{ education.institutionName }}</li>
        <li class="list-group-item"><b>Cargo:{{ education.typeOfStudy }}</b> </li>
        <li class="list-group-item"><b>Fecha de inicio: {{ education.startDate }}</b> </li>
        <li class="list-group-item"><b>Fecha de culminaci贸n: {{ education.endDate }}</b> </li>
        <li class="list-group-item"><b>Descripci贸n:{{education.fieldOfStudy}}</b> </li>
      </ul>
    </div>

  </div>
  {{/each }}
  <div class="mt-5">
    <h5><b>Experiencia Laboral</b></h5>
  </div>
  {{#each experiences as |experience| }}
  <div class="card mb-4">
    <div class="card-body">
      <h5><b>{{ experience.companyName }}</b></h5>
      <ul class="list-group list-group-flush text-left">
        <li class="list-group-item">{{ experience.jobTitle }}</li>
        <li class="list-group-item">{{ experience.startDate }}</li>
        <li class="list-group-item">{{ experience.endDate }}</li>
        <li class="list-group-item"><b>Descripci贸n:</b> {{ experience.description }}</li>
      </ul>
    </div>

  </div>
  &nbsp;
  {{/each}}
</main>