{{>navbar }}
<main>
    <div class="d-flex justify-content-between align-items-center ">
        <h3>Mis Empresas</h3>
        <a href="/company/register" class="btn btn-primary">+</a>
    </div>
    {{#each companies as |company|}}
    <div class="card-offer">
        <div class="card-offer-body">
            <div class="card-offer-logo">
                <img src="{{company.image}}" alt="{{company.name}}">
            </div>
            <div class="card-offer-title">
                <h2>
                    {{company.name}}
                </h2>
                <p>
                    {{company.legalName}}<br> NIF: {{ company.nif }}
                </p>
            </div>
        </div>
        <div class="card-offer-footer">
            <div>
                <span>{{company.email}}</span>
                <span>{{company.phoneNumber}}</span>
            </div>
            <a href="/company/{{company._id}}" class="btn-apply">
                Ver
            </a>
        </div>
    </div>
    {{/each}}
</main>