{{>navbar }}
<main>
    <div class="d-flex justify-content-between align-items-center ">
        <h3>Mis Ofertas Publicadas 📲</h3>
        <a href="/company/offer/create" class="btn btn-primary">+</a>
    </div>
    {{#each offers as |offer| }}
    <div class="card-offer">
        <div class="card-offer-body">
            <div class="card-offer-logo">
                <img src="{{offer.company.image}}" alt="{{offer.company.name}}">
            </div>
            <div class="card-offer-title">
                <h2>
                    {{offer.jobTitle}}
                </h2>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                    </svg>
                    {{offer.salary }}€/hora
                </p>
            </div>
            <div class="card-offer-fav" onclick="deleteOffer('{{ offer._id }}')">
                <svg id="delete-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon line" width="24"
                    height="24">
                    <path id="primary"
                        d="M4,7H20M16,7V4a1,1,0,0,0-1-1H9A1,1,0,0,0,8,4V7M18,20V7H6V20a1,1,0,0,0,1,1H17A1,1,0,0,0,18,20Zm-8-9v6m4-6v6"
                        style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
                    </path>
                </svg>

            </div>
        </div>
        <div class="card-offer-footer">
            <div>
                <span>{{ offer.jobType }}</span>
                <span>{{offer.contractType}}</span>
            </div>
            <a href="/company/offer/detail/{{offer._id}}" class="btn-apply">
                Más Info
            </a>
        </div>
    </div>
    {{/each }}
</main>

<script>
    function deleteOffer(id) {
        Swal.fire({
            title: '¿Estas seguro?',
            text: "Esto no se puede revertir",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Eliminar!'
        }).then((result) => {
            if (result.isConfirmed) {
                axios.delete('/company/offer/' + id)
                    .then((response) => {
                        console.log(response)
                        Swal.fire(
                            'Eliminado!',
                            'La oferta ha sido eliminada.',
                            'success'
                        ).then(() => {
                            window.location.href = '/company/offers'
                        })
                    })
                    .catch((error) => {
                        console.log(error)
                        Swal.fire(
                            'Error!',
                            'La oferta no ha sido eliminada.',
                            'error'
                        )
                    })
            }
        })
    }
</script>